<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

{% load static %}
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="{% static 'css/Mikkemas or the Upcoming Angel of History.css'%}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link rel="shortcut icon" href="{% static 'images/icon.png'%}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mikkemas or the Upcoming Angel of History</title>
</head>
<style>
  img {
    max-width: 100%;
    height: auto;
  }
</style>

<body style="
    margin: 120px 0 0 0;
">
  <div class="intro">
    <div class="container">



      <div class="text">

        Mikkemas or the Upcoming Angel of History" is
        a project made in the form of Google Slides for a
        certain archaeological or historical conference. A
        scholar, whose name we do not know, talks about
        his find, a letter from a recently deceased professor
        of Egyptology. Professor Bennard reveals the
        mystery of his first expedition to Egypt, when he
        discovered images of an unknown god who
        resembles Mickey Mouse. This god was revered by
        the ancient Egyptians as the god of resurrected
        history. This project interprets two of Walter
        Benjamin's essays (Poverty and Experience, 1933,
        and Theses on the Philosophy of History, 1940) and
        places Mickey Mouse as the New Angel of History.
        Mickey Mouse in Benjamin's essay: "His life is full of
        miracles – miracles that not only surpass the
        wonders of technology, but make fun of them. For
        the most extraordinary thing about them is that
        they all appear, quite without any machinery, to
        have been improvised out of the body of Mickey
        Mouse, out of his supporters and persecutors, and
        out of the most ordinary pieces of furniture, as well
        as from trees, clouds, and the sea". The text
        pictures and the short video are done in
        collaboration with neural networks, so sometimes
        it is hard to tell which part was done by whom.
        Neural networks pass a lot of data through
        themselves and fulfill that instant magical role of
        Benjamin’s Mickey Mouse and in this project
        appear as emanations of the New Angel of History
      </div>

      <div class="container_slider_css">
        <img class='photo_slider_css' src="{% static 'images/Mikkemas or the Upcoming Angel of History/1.png'%}" alt="" />
        <img class='photo_slider_css' src="{% static 'images/Mikkemas or the Upcoming Angel of History/2.png'%}" alt="" />
        <img class='photo_slider_css' src="{% static 'images/Mikkemas or the Upcoming Angel of History/3.png'%}" alt="" />
        <img class='photo_slider_css' src="{% static 'images/Mikkemas or the Upcoming Angel of History/4.png'%}" alt="" />
      </div>
    </div>

  </div>
  </div>

</body>

</html>