body{
    background-color: black;;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.label{
    font-size: 70px;
    margin: auto;

}

.text{
    text-align: justify;
    width: 40%;
    font-size: 20px;
    margin: auto;
    

}

.images{
    display: flex;
    justify-content: space-between;
    /* margin: 200px 0 0 0; */
    width: 60%;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    /* flex-direction: row; */
    margin: 100px 0 0 0 ;
}


.imgBlock{
    display: flex;
    flex-direction: column;
}

.imgBlock p{
    position: relative;
    top: -300px;
    opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    height: 35vh;
    z-index: 100;
    text-align: center;
}

.imgBlock p:hover{
    opacity: 1;
}




a {
    cursor: url('images/cursor_pointer.png'), pointer;
    text-decoration: none;
    /*Убираем стандартное подчёркивание ссылки если оно ещё не убрано*/
    display: inline-block;
    /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный*/
    line-height: 1;
    /*Задаём высоту строки (можно в пикселях)*/
    color: white;
    /*Задаём цвет ссылки*/
  }