<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <link rel="shortcut icon" href="images/icon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>room web 1.0</title>
    <style>
.intro {
	display:  flex;
	justify-content:space-around ;
	width: 100%;
		
	height: 70%;
	margin: 0 auto;
  }


  .randGif{
    z-index: 10000;
    width: 100px;
    height: auto;
    position:absolute;
}


  .container_slider_css {
    margin: 45px auto;
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
    float: left;
    }

    .photo_slider_css {
    position: absolute;
    animation: round 16s infinite;
    opacity: 0;
    width: 100%;
    }

    @keyframes round {
    25% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    }
    img:nth-child(1) {
    animation-delay: 12s;
    }
    img:nth-child(2) {
    animation-delay: 8s;
    }
    img:nth-child(3) {
    animation-delay: 4s;
    }
    img:nth-child(4) {
    animation-delay: 0s;
    }
    </style>
</head>
<body>

  <div style="display: block; position: absolute; width: 50%; margin: auto; height: 100vh; z-index: -90; background-color: black;"></div>
    <div class="label1">
        <div style="margin: 20px; "> <img src="{% static 'images/roomImg/spaceweb1.png' %}"  style="height: 20vh; width: auto;"> </div>
        <div style="margin: 20px; "> <img src="{% static 'images/roomImg/basement.png' %}"  style="height: 20vh; width: auto;"> </div>

    </div>

    <div class="label2">
        <div style="padding: 10px; text-align: justify ; color: grey; font-family: 'FKRasterRomanCompactTrial-Sharp'; width: 700%;">The Web 1.0 room comprises two distinct spaces, namely, the Internet's girl room and the basement area. The textures in the former have been created using KidPix, a child-oriented drawing program from the year 2001, and are designed to resemble the graphic style of the early web. Voxel models and GIFs are also employed to generate the early Internet environment and resemble, for instance, GeoCities page. The design of the early web pages was quite different from what we can see today.
            The web design of custom-made pages was based on table structure and filled with links leading to other places on the internet. When you enter a website, you see the “welcome” signs and other signatures that were made by the website’s owner, resemble visiting somebody’s house. </div>
        
        <div style="padding: 10px; text-align: justify ;font-family: 'webfont'; font-size: 120%; color: rgb(239, 191, 222);">That was an idea behind creating the web 1.0 space in our project – to use the web design patterns of early web to construct the interior architecture for the pro-Metaverse platform.
            We would like to see this technique not only as a nostalgic reference but as a means of complex and unexpected world-building, where internal connections between worlds and exploratory archives are established. In the basement space, we have arranged several such external and internal archives (on are.na, Tumblr, and worlds in VRC), which are the result of theoretical and practical research in virtual worlds. The transportation between different platforms and the limitless structure of the world are important to us as a technique for transversal world-building within the pro-Metaverse.</div>
        
        </div>

       
        <div class="intro">
      
              <div class="container_slider_css" > 
              <img class='photo_slider_css'  src="{% static 'images/roomImg/1.png'%}" alt="" /> 
              <img class='photo_slider_css'  src="{% static 'images/roomImg/2.png'%}" alt="" /> 
              <img class='photo_slider_css'  src="{% static 'images/roomImg/3.png'%}" alt="" /> 
              <img class='photo_slider_css'  src="{% static 'images/roomImg/4.png'%}" alt="" />
              <img class='photo_slider_css'  src="{% static 'images/roomImg/5.png'%}" alt="" />
               <img class='photo_slider_css'  src="{% static 'images/roomImg/6.png'%}" alt="" /> 
               <img class='photo_slider_css'  src="{% static 'images/roomImg/7.png'%}" alt="" /> 
               <img class='photo_slider_css'  src="{% static 'images/roomImg/8.png'%}" alt="" /> 
              </div>

            </div>
             

       
        
  <img src="{% static 'images/randGif/1.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/2.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/3.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/4.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/5.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/6.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/7.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/8.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/9.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/10.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/11.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/12.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/13.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/14.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/15.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/16.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/17.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/18.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/19.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/20.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/21.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/22.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/23.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/24.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/25.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/26.gif'%}" class="randGif">
  <img src="{% static 'images/randGif/27.gif'%}" class="randGif">

          <script src="{% static 'js/randGif.js'%}"></script>
          <script>
            // JavaScript для автоматического переключения слайдов
            let currentSlide = 0;
            const slides = document.querySelectorAll('.slider-item');
            const slider = document.querySelector('.slider-list');
            const slideWidth = slides[0].clientWidth;
        
            setInterval(() => {
              currentSlide = (currentSlide + 1) % slides.length;
              slider.style.transform = `translateX(-${currentSlide * slideWidth}px)`;
            }, 3000);
          </script>
</body>
</html>