
          
      html {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        height: auto;
        width: auto;
        min-width: 100%;
        min-height: 100%;
      }
      
      .blocks-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: hidden;
      }
      
      .block {
        margin: auto;
        width: 40%;
      }
      
      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        flex-direction: column;
      }
      
      .container_slider_css {
        margin: auto;
        width: 50%;
        height: 20vw;
        overflow: hidden;
        position: relative;
        float: left;
        display: flex;
      }
      
      .photo_slider_css {
        position: absolute;
        width: 100%;
        height: auto;
    }
    
  
    
      .content {
        text-align: center;
        max-width: 60%;
        display: flex;
        flex-wrap: wrap;
      }
      
      .video{
         width: 30vw;
          height: 30vh;
      }

      .test_variable_1{
        width: 60%;
        font-size: 1vw; /* Размер шрифта будет 1% от ширины экрана */
        }
        .blockvideo2{
            display: flex;
            justify-content: center;
        }
        .video2{

                width: 100%;
                height: 50vh;
            
        }

      /* Шрифты */
      h1 {
        font-family: "{{ page.font_title }}";
        font-size: 4vh;
      }

    

      .test_variable_1 {
        font-family: "{{ page.font_test_variable_1 }}";
      }


      .txt {
        font-family: " {{ page.font_text }}";
        text-align: justify;
        font-size: 1vw; /* Размер шрифта будет 1% от ширины экрана */
      }





     
      @media (max-width: 768px) {
        .content {
            max-width: 80%;
            flex-wrap: nowrap;
            flex-direction: column;
        }
        .block {
            margin: auto;
            width: 90%;
            height: auto;
        }
        .container_slider_css {
            margin: auto;
            width: 100%;
            height: 300px;
            overflow: hidden;
            position: relative;
            float: left;
            display: flex;
        }
        .txt {
            font-family: " {{ page.font_text }}";
            text-align: justify;
            font-size: 3vw; /* Размер шрифта будет 1% от ширины экрана */
          }
        .video{
            width: 100%;
            height: 40vw;
        }
        h1{
            font-size: 4vh;
            text-align: center;
            width: 80%;
        }

        .test_variable_1{
            font-size: 3vw; /* Размер шрифта будет 1% от ширины экрана */
        }
      }


      @media (max-width: 1300px) and (min-width: 745px) {
        .video {
            width: 40vw;
            height: 22vw;
        }
        .txt {
            font-family: " Arial";
            text-align: justify;
            font-size: 1.2vw;
        }


        h1{
            font-size: 4vh;
        }
        .block {
            margin: auto;
            width: 100%;
        }

        .container_slider_css {
            margin: auto;
            width: 100%;
            height: 40vw;
            overflow: hidden;
            position: relative;
            float: left;
            display: flex;
        }
        .test_variable_1{
            width: 80%;
            font-size: 1.5vw;
        }
        .blockvideo2{
            display: flex;
            justify-content: center;
        }
        .video2{
    
                width: 60vw;
                height: 40vh;
            
        }
    }
    
