<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/index.css' %}" rel="stylesheet">
  <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'images/icon.png' %}" type="image/x-icon">
  <title>lshfn</title>
  <style>
    .hidden-text {
      display: none; /* Начально скрыт */
  }

  
  .fancybox-active {
    height: 100%;
  } 

  .TEXT {
    font-family: "{{font}}";
  }
    
  </style>
</head>
<body>

 <back1></back1>
<back2></back2>
<back3></back3> 

<div class="info">
 
    <p align="center" style="position: relative;">
        <img src="static/images/1.webp" width="200" height="200" alt="Фотография">
    </p>



    <div class="text-container TEXT">
      <p> {{content1}}</p>
      <p id="read-more-btn">read more...</p>
      <div class="hidden-text">
          <p style="margin: 0;">  {{content2}} </p>
      </div>
  </div>
  

  
  <script> 
    document.getElementById('read-more-btn').addEventListener('click', function() {
      var hiddenText = document.querySelector('.hidden-text');
      var buttonText = this.textContent;
      
      if (buttonText === 'read more...') {
          hiddenText.style.display = 'block';
          this.textContent = ''; // Изменяем текст кнопки
      } else {
          hiddenText.style.display = 'none';
          this.textContent = 'read more...'; // Изменяем текст кнопки
      }
  });
  
  </script>


    



    <years>
      {% for year in years %}
        <a href="#fullscreen-modal{{year}}" class="open-modal">{{year}}</a>
        <div class="modal-content" style = "background-color: rgb(0, 0, 0, 0.5);;" id="fullscreen-modal{{year}}">
         

          <div class="modal">
          <ul>
            {% for project in projects %}
              {% if project.year == year %}
                <li><a href="{{ project.link }}">{{ project.name }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        </div>
      {% endfor %}
    </years>





    <div style="text-align: center;"> <a href="{% static 'document/CV.pdf' %}" data-fancybox data-type="iframe" data-src="{% static 'document/CV.pdf' %}" class="fancybox">CV</a> </div>
    <script>
      $(document).ready(function() {
        // Инициализация FancyBox
        $("[data-fancybox]").fancybox({
          // Опции FancyBox, здесь вы можете настроить поведение модального окна
          // Например, чтобы модальное окно открывалось в полноэкранном режиме, добавьте следующую опцию:
          iframe: {
            preload: false,
            css: {
              width: '100%',
              height: '100%'
            }
          }
        });
      });
    </script>
    

 







<!-- Подвал -->
<div style="line-height: 0.5;" align="center">

  <p> <img src="static/images/lshfn.png" width="100" height="50" alt="INSAGRAMM" /> <br />
        <h2> Xeno-digital artist </h2>

          <P> </P>
          <a href="https://www.instagram.com/_lshfn/"><img src="static/images/i.png" width="30"
                  height="30" alt="INSAGRAMM" /></a>
          <a href="https://t.me/lshfn"><img src="static/images/t.png" width="30" height="30"
                  alt="TELEGRAMM" /></a>
          <br />
          <p class="createdby" style="margin: 5px 0 0 0">created by <a
                  href="https://t.me/fcg000">&lt;/fcg&gt;</a></p>
          <p class="createdby" style="margin: 5px 0 0 0">
              <font-size="1">© 2024</font>
          </p>
</div>


</div>



<!-- Подключение скриптов и FancyBox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<script>
  $(document).ready(function() {
    $('.open-modal').fancybox({
      type : 'inline'
    });
  });
</script>

<script>
  $('body').mousemove(function (e) {
    let winWidth = window.innerWidth;
    let winHeight = window.innerHeight;
    let moveOnX = e.pageX / (winWidth);
    let moveOnY = e.pageY / (winHeight);

    $('back1').css('transform', 'translate(-' + moveOnX * 4 + '%, -' + moveOnY * 4 + '%)');
    $('back2').css('transform', 'translate(-' + moveOnX * 2 + '%, -' + moveOnY * 2 + '%)');
    $('back3').css('transform', 'translate(-' + moveOnX + '%, -' + moveOnY + '%)');
  });
</script>

</body>
</html>
